<input [(ngModel)]="titre" type="text" class="form-control" placeholder="Rechercher un produit">

<div class="container">
    <div class="row">


      <div *ngFor="let x of Categories | contains:titre" class="col-md-4" style="margin-bottom: 20px;">
        <!--<ng-container *ngIf="x.title.toLowerCase().includes(titre.toLowerCase())">-->


        <img (click)="clickImage(x.description)" [src]="x.image" [alt]="x.title" class="img-fluid h-50 w-75">
        <h3 appHighlight >{{x.title | uppercase}}</h3>
        <button  class="btn btn-primary" *ngIf="x.available">Voir produits</button>
        <span [hidden]="x.available">Catégorie non disponible</span>
        <!--<button  class="btn btn-primary" [hidden]="!x.available">Voir produits</button>-->
        <!--</ng-container>-->
      </div>


    </div>
  </div>
